[submodule "bundles/simple-waypoints"]
	path = bundles/simple-waypoints
	url = https://github.com/RanvierMUD/simple-waypoints
[submodule "bundles/lootable-npcs"]
	path = bundles/lootable-npcs
	url = https://github.com/RanvierMUD/lootable-npcs
[submodule "bundles/bundle-example-bugreport"]
	path = bundles/bundle-example-bugreport
	url = https://github.com/RanvierMUD/bundle-example-bugreport
[submodule "bundles/axon-olc"]
	path = bundles/axon-olc
	url = https://github.com/nelsonsbrian/axon-olc.git
